.box{
    height: 300px;
    width: 300px;
    border: 2px solid red ;
    margin: auto;
}
.container{
    /* margin: auto; */
}
#btn{
    font-size: 20px;
    height: 60px;
    width: 200px;
    padding: 20px;
    margin: 3% 45%;
}
#btnt{
    font-size: 20px;
    height: 60px;
    width: 200px;
    padding: 20px;
    margin: 3% 45%;

}